body {
    font-family: Arial, sans-serif;
}

.post {
    background-color: #fff;
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin: 0;
    padding: 15px 30px 25px 30px;
    box-sizing: border-box;
}

.post-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.logo {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.logo i {
    font-size: 40px;
    cursor: pointer;
}

.nombre {
    flex-grow: 1;
    font-weight: bold;
}

.opciones {
    font-size: 20px;
    cursor: pointer;
    margin-left: auto;
}

.imagen {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
}

.imagen img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.reacciones {
    margin-top: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.like {
    margin-right: 15px;
}

.comentar {
    margin-right: 15px;
}

.reenviar {
    margin-right: 15px;
}

.guardar {
    margin-left: auto;
}

.comentarios {
    margin-top: 15px;
}